$bg-color: #10161b;
$navbar-bg: #374859;
$footer-bg: #283440;
$text-color: #464646;

$randomNum: random($limit: 5);
$orange: #FFB74D;

// forms
$form-border-color: #374859;
$form-border-size: 2px;
$form-bg: rgb(255, 255, 255);


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #b7c0c9;
}

h1, h2, h3, h4 {
    margin: 0;
}

ul {
    list-style: none;

    li {
        padding: 0;
        margin: 0;
    }
}

#grid {
    display: grid;
    grid-template-rows: 1fr 30px;
    grid-template-columns: 100%;
    grid-template-areas: "main main"
                         "foot foot";
    min-height: 100%;
}


#grid > main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(411px, 1fr));
    background-color: $bg-color;
    overflow: hidden;
}

 #grid > footer {
    grid-area: foot;
    align-items: center;
    color: #596b7e;
    background-color: $footer-bg;
    font-size: 0.8em;

    #copyright {
        margin: 5px auto 0 auto;
        width: 50%;
        text-align: center;
    }
 }


#top-left {
    position: fixed;
    top: 10px;
    left: 10px;
}

#search-form {
    display: grid;
    margin: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.39), 0 10px 10px rgba(0,0,0,0.22);
    justify-items: center;
    align-items: center;
    grid-template-columns: 40px 220px 40px;
    padding: 7px 5px 7px 5px;
    background-color: rgb(255, 255, 255);

    border-radius: 5px;
}

#edit-form {
    margin-top: 10px;
    justify-items: center;
    align-items: center;
    grid-template-columns: 40px 220px 40px;
    padding: 15px 25px 15px 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.39), 0 10px 10px rgba(0,0,0,0.22);

    border-radius: 5px;

    input {
        width: 100%;
        border-radius: 6px;
        margin-bottom: 10px;
        background-color: #e9e9e9;

        &:disabled {
            border: none;
            color: rgb(163, 163, 163);
            background-color: #e9e9e9;
        }
    }

    label {
        font-size: 0.8em;
        margin-bottom: 55px;
    }

    h4 {
        margin-bottom: 15px;
    }
}

.card {

    margin-top: 4px;
    //border-top: 1px solid rgb(233, 233, 233);
    margin: none;
    justify-items: center;
    align-items: center;
    grid-template-columns: 40px 220px 40px;
    padding: 7px 5px 7px 5px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.elem-symbol {
    font-size: 3em;
}

input {
    display: block;
    padding: 7px;
}

.form-group {
    input {

        font-size: 1em;
        color: $text-color;
        background-color: inherit;
        border: none;
        border-radius: 1px;
        outline: none;
        box-shadow: none;
    
        &:focus {
            outline: 0;
            box-shadow: 0;
            background-color: inherit;
            border-color: #5a728a;
        }

        &::placeholder {
            color: rgb(177, 177, 177);
        }
    }
}

.masonry {
    display: grid;
    overflow: hidden;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: 0.25em;
    grid-auto-rows: repeat(auto-fill, 1fr);
    //justify-items: center;
    //align-items: center;
    background-size: cover;
    margin-bottom: 0.5em;
}
.masonry-brick {
    user-select: none;
    cursor: pointer;

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
    &:nth-of-type(3n) {
        grid-row: span 2;
        grid-column: span 2;
    }

    &:nth-of-type(7n+1) {
        grid-row: span 3;
        grid-column: span 3;
    }
}

#search-btn, #menu-btn{
    cursor: pointer;
    color: #b7c0c9;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    &:hover {
        color: #a2aab3;
    }
    
}

#search-btn {
    padding-left: 5px;
    border-left: 1px solid #b7c0c9;;
}

li {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

#overlay {
    position:fixed;
    background-color: rgba(0, 0, 0, 0.712);
    left:0;
    top: 0;
    width:100%;
    height:100%;
  }


  .close{
    background: red;
    color: #fff;
    height: 16px;
    line-height: 16px;
    position: absolute;
    bottom: -10px;
    width: 100%;
    opacity: 0;
    z-index: 2;
    transition: all 0.2s;
    cursor: pointer;
  }


.sidenav {
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    background-color: #111111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
    -webkit-box-shadow: 0px 0px 6px 0px #000000; 
    box-shadow: 0px 0px 6px 0px #000000;

    #stuck {
        position: absolute;
        top: 5;
        font-size: 1.1em;
        //margin-left: 5px;

        i {
            vertical-align: bottom;
            padding-right: 5px;
        }
    }   

    a {
        margin: 8px 8px 8px 32px;
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;
        cursor: pointer;
    }

    a:hover {
        color: #f1f1f1;
    }

    span {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;
        cursor: default;
    }
}

.closebtn {
    position: absolute;
    z-index: 5;
    cursor: pointer;
    top: 30px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    user-select: none;
}

#toast {
    visibility: hidden;
    min-width: 250px;

    margin-left: -125px; // min-width / 2
    background-color: #263238;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 18px;
    position: fixed;
    z-index: 1;
    left: 50%; // center
    bottom: 45px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    .error {
        background-color: rgba(131, 35, 35, 0.945);
    }

    &.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 4s;
        animation: fadein 0.5s, fadeout 0.5s 4s;
    }

}

button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}
.button {
    padding: 8px;
    font-size: 0.8em;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.397);
    color: #FFFFFF;
    background-color: rgba($color: #1e477c, $alpha: 1.0);
    
    &:active {
        background-color: rgba($color: #173761, $alpha: 1.0);
    }
}


.edit-btn {
    color: #FFFFFF;
    background-color: #1976D2;

    &:hover {
        background-color: rgb(41, 128, 216);
    }

    &:active {
        background-color:  rgb(27, 98, 168);
    }
}
.delete-btn {
    color: #FFFFFF;
    background-color: rgb(183, 28, 28);

    &:hover {
        background-color:  rgb(199, 51, 51);
    }

    &:active {
        background-color:  rgb(136, 24, 24);;
    }
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}

#snackbar.show {
    visibility: visible; /* Show the snackbar */
  }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 45px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 45px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 45px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 45px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }